@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
body {
  font-family: "Roboto Slab", "Ubuntu", sans-serif;
  /* Fallback for unsupported fonts */
  font-size: 16px;
  /* Adjust as needed */
}

#my-element {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(5, 161, 60, 0.5) 100%
  );
  background-size: 200% 100%;
  /* This is important for the transition effect */
  background-position: right bottom;
  /* This positions the gradient initially */
  transition: all 0.3s ease-in-out;
  /* Defines the transition properties */
}

#my-element:hover {
  background-position: left bottom;
  /* This moves the gradient on hover */
}
.bg-image-An {
  background-image: url("/public/Antiques.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-Ve {
  background-image: url("/public/Vehicles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image-Ar {
  background-image: url("/public/Decorations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image-El {
  background-image: url("/public/Electronics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image-Fu {
  background-image: url("/public/Furniture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image-Fa {
  background-image: url("/public/Fashion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image-Je {
  background-image: url("/public/Jewellery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image-Re {
  background-image: url("/public/Real\ Estate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
